<!DOCTYPE html>
<html>
<head>
  <title>NittyApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Nitty App</h1>

<%= link_to("Posts Index", posts_path) %></br>
<%= link_to("Create New Post", new_post_path) %>

<%= yield %>

</body>
</html>
